.detail-img{
    width: 500px;
}

.title-font{
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
}

.button-deco{
color: rgb(153, 153, 153);

width: 250px;
font-size: 19px;

}

.play-button{
font-size: 22px;
font-weight: bold;
width: 260px;
height: 64px;
background-color: rgb(136, 23, 23);
border: none ;
text-align: center;
}

@media screen and (max-width: 63rem) {
    .detail-img{
        width: 350px;
        
    }

    .title-font{
        font-size: 30px;
        font-weight: bold;
        margin-top: 20px;
    }

    .review-css{
        width: 50%;
    }
}