.detail-img{
    width: 800px;
}

@media screen and (max-width: 63rem) {
    .detail-img{
        width: 350px;
        
    }

    .title-font{
        font-size: 30px;
        font-weight: bold;
        margin-top: 20px;
    }
}