.carousel-container{
    overflow: hidden;
    height: 400px;
   
}
.main-title{
    font-size: 32px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 70px;
}

@media screen and (max-width: 63rem) {
    .carousel-container{
       
        height: 300px;
    }
}