.movie-card{
    width: 230px;
    height: 330px;
    background-size: cover;
    cursor: pointer;

}

@media screen and (max-width: 63rem) {
    .movie-card{
        width: 170px;
        height: 260px;
        background-size: cover;
        cursor: pointer;
        margin-left: 80px;
    }
}
.overlay{
    padding: 1em;
    width: 100%;
    height: 100%;
    background: rgb(14, 14, 14,0.9);
    opacity: 0%;
    color:white;
    font-weight: 700;
    overflow-wrap: break-word;
    border: 3px solid white;
}
.movie-card:hover{
    transform: scale(1.2) translateZ(40px);
    z-index: 2;
    transition:0.5s;
}
.badge{
 margin: 3px;
}

.font-size{
    font-size: 14px;
}

.overlay:hover {
    opacity: 1;
}

.margin{
 margin-top: 30px;
}

